@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tint {
  font-family: 'Abril Fatface', cursive;
  background: linear-gradient(
    rgba(255, 255, 255, .9),
    rgba(255, 255, 255, .4)),
    url("/bg.jpg") 50% / cover fixed;

  height: 100%;
  padding: 1.5em;
  height: 100vh;
}