@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tint {
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, .1)),
    url("/bg3.jpg") 50% / cover fixed;

  height: 100%;
  padding: 1.5em;
  height: 100vh;
}
h1{
  font-family: 'Oranienbaum', serif;
  color: #fff;
}